.ReactDev {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #61DBFB;
  color: white;
  grid-column: 3/5;
  grid-row: 1/2;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
}

.ReactDev:hover {
  background-color: #4DABC3;
}
 
.Icon {
  color: white;
  font-size: 45px;
}