.WordPressDev {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 3/4;
  grid-row: 2/3;
  background-color: #444140;
  color: #d7dade;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
}

.WordPressDev:hover {
  background-color: #252423;
}

.Icon {
  font-size: 35px;
}